<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
 crossorigin="anonymous"></script>

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>
    <div class="container">
      <div class="row">

        
        <button class="btn btn-success" type="button" name="button" on-click="obtenerClima">Estado del Clima</button>
        </div>


    </div>

  </template>

  <script>

    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clima: {
            type: Object,
            notify: true
          }
        };
      }

      obtenerClima (){

        var request = new XMLHttpRequest();
          request.open ("GET", "http://api.openweathermap.org/data/2.5/weather?id=3996063&appid=1f23b6ae796f65f0ed77166b6ed4427d", false);
          request.setRequestHeader("Accept","application/json");
        request.send();
        this.clima = JSON.parse(request.responseText);
        console.log(this.clima);
        pais.value =this.clima.name
        clima.value =this.clima.weather[0].main
        desclima.value =this.clima.weather[0].description
        var tempmaxkelvin = parseInt(this.clima.main.temp_max)
        var centigradosmax = tempmaxkelvin - 273.15
        tempmax.value = centigradosmax
        humedad.value = this.clima.main.humidity
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
