form {
    /* Sólo para centrar el formulario a la página */
    margin: 30 auto;
    width: 400px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
/*form div + div {
    margin-top: 1em;
}*/
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}
.button {

    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 50px 100px;
    /*padding: 15px 32px;*/
    text-align: left;
    display: inline;
    font-size: 1400px;
}
