<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="consulta-unica">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
      </form>
      <div>
      <!--  <button on-click="updateData" class="btn btn-info btn-sm" >Actualizar</button>
        <button on-click="deleteData" class="btn btn-info btn-sm" >Eliminar</button> -->
        <button on-click="loadData" class="btn btn-info btn-sm" >Consulta-unica</button>
        <!--<button on-click="loadData" class="btn btn-success">Inicio</button> -->

      </div>
    </div>
  </template>

  <script>
    class ConsultaUnica extends Polymer.Element {
      static get is() { return 'consulta-unica'; }

    loadData(){
      var x = numberidcliente
      var idc=parseInt(x.value)
      console.log(idc)
      var request1 = new XMLHttpRequest();
      request1.open("GET","http://localhost:3000/buscaId/"+idc+"",false);
      request1.send();
      this.clientes = JSON.parse(request1.responseText);
      console.log(this.clientes[0]._id)
      txtnombre.value =this.clientes[0].nombre
      txtapellidop.value =this.clientes[0].apellidop
    //  console.log(this.clientes[0].lastName);
      txtapellidom.value=this.clientes[0].apellidom
      txtemail.value=this.clientes[0].email
    }
}
    window.customElements.define(ConsultaUnica.is, ConsultaUnica);
  </script>


</dom-module>
