<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="stylesheet" href="processed.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<dom-module id="app-completa">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
      </form>

      <div>
      <!--  <button on-click="updateData" class="btn btn-info btn-sm" >Actualizar</button>
        <button on-click="deleteData" class="btn btn-info btn-sm" >Eliminar</button> -->
        <button on-click="loadData" class="btn btn-info btn-sm" >Consulta-unica</button>
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="altaCliente">Alta clientes</button>
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="updateData">Actualiza clientes</button>
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="deleteData">Borra clientes</button>
        <button class="btn btn-success col-lg-4 col-xs-12" type="button" name="button" on-click="cleanData">Limpiar</button>
        <!--<button on-click="loadData" class="btn btn-success">Inicio</button> -->

      </div>
    </div>
  </template>

  <script>
    class AppCompleta extends Polymer.Element {
      static get is() { return 'app-completa'; }

    loadData(){
      var x = numberidcliente
      var idc=parseInt(x.value)
      console.log(idc)
      var request1 = new XMLHttpRequest();
      request1.open("GET","http://localhost:3000/buscaId/"+idc+"",false);
      request1.send();
      console.log( "estatus de la consulta" + request1.status)
      this.clientes = JSON.parse(request1.responseText);
      console.log( request1.responseText)
      console.log( this.clientes)
      //if (request1.responseText == [])
      if (this.clientes[0] == null)
        {
          alert ("Cliente no existe")
          txtnombre.value =""
          txtapellidop.value =""
          txtapellidom.value=""
          txtemail.value=""
          txttipocuenta.value=""
          numbercuenta.value=""
        }
        else {
          alert ("Consulta correcta")

      txtnombre.value =this.clientes[0].nombre
      txtapellidop.value =this.clientes[0].apellidop
      txtapellidom.value=this.clientes[0].apellidom
      txtemail.value=this.clientes[0].email
      console.log(this.clientes[0].email);
      console.log(this.clientes[0].listadocuentas[0].tipo)
      txttipocuenta.value=this.clientes[0].listadocuentas[0].tipo
      numbercuenta.value=this.clientes[0].listadocuentas[0].numerocuenta
    }
    }

    updateData(){

           var idCustomer = numberidcliente.value
           //var idCustomer =18
           console.log(idCustomer)
           var email = txtemail.value
           //var email = "vero.sanchez3"
           //var phoneNumber=inputphoneNumberMan.value
           var request = new XMLHttpRequest();
           request.open("PUT", "http://localhost:3000/actualiza/"+idCustomer+"", false);
           request.setRequestHeader("Accept", "application/json");
           request.setRequestHeader("Content-Type", "application/json");
           //var updateCustomer ={"email":email,"email":email,}
           var updateCustomer = {"email":email,}
           var body = JSON.stringify(updateCustomer);
           console.log(body);
           request.send(body);
}

    altaCliente(){
     var idCliente = parseInt(numberidcliente.value)
     var nombreCliente =txtnombre.value
     var apCliente =txtapellidop.value
     var amCliente =txtapellidom.value
     var emailCliente =txtemail.value
     var tipoCuenta= txttipocuenta.value
     var numeroCuenta=parseInt(numbercuenta.value)
     var request = new XMLHttpRequest();
     request.open("POST", "http://localhost:3000/movimientos", false);
     request.setRequestHeader("Accept", "application/json");
     request.setRequestHeader("Content-Type", "application/json");
     var nuevoCliente = {"idcliente": idCliente,
                         "nombre": nombreCliente,
                         "apellidop": apCliente,
                         "apellidom": amCliente,
                         "email": emailCliente,
                         "listadocuentas": [
                            {
                              "tipo": tipoCuenta,
                              "numerocuenta": numeroCuenta
                            }
                              ]

        }
     var body = JSON.stringify(nuevoCliente);
     request.send(body);
      }

deleteData(){
  var idCliente = numberidcliente.value
  console.log(idCliente)
  var requestFind = new XMLHttpRequest();
  requestFind.open("GET","http://localhost:3000/busca/"+idCliente+"",false);
  requestFind.send();
  this.clientes1 = JSON.parse(requestFind.responseText);
  console.log(this.clientes1[0]._id)
  var idmongo=JSON.stringify(this.clientes1[0]._id);
  console.log(idmongo);
  var res = idmongo.substring(9, 33);
  console.log(res);
  var requestDel = new XMLHttpRequest();
  requestDel.open("DELETE","http://localhost:3000/delete/"+res+"", false);
  requestDel.send();
}

cleanData(){
      alert ("Se limpiaran los datos")
      numberidcliente.value=0
      txtnombre.value =""
      txtapellidop.value =""
      txtapellidom.value=""
      txtemail.value=""
      txttipocuenta.value=""
      numbercuenta.value=""
}

}

    window.customElements.define(AppCompleta.is, AppCompleta);
  </script>
</dom-module>
